.links {
  margin-top: 10%;
}

.box {
  width: 30%;
}

@media screen and (max-width: 600px) {
 .box {
   width: 70%;
 }
}

@media screen and (max-width: 800px) {
 .box {
   width: 50%;
 }
}

@media screen and (max-width: 800px) {
 .box {
   width: 70%;
 }
}
